.map-container {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .building-within-geofence-icon {
    filter: hue-rotate(120deg);
  }